body {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
}

.BarMenu li {
    display: none;
}

.LoginIcon {
    display: none;
}

.alert {
    font-size: 0.875rem;
}
@media (max-width: 768px){
    .container{
        margin-top: 50px; 
        max-width: 95%;
    }
}
@media (max-width: 375px){
    .container{
        margin-top: 50px; 
        max-width: 95%;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
