* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-image1,
.bg-image2 {
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-image1 {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop");
}

.bg-image2 {
    background-image: url("https://digitalassets-secure.tesla.com/image/upload/f_auto,q_auto/jgfs8nfkrvackmukef7s.jpg");
}

.container {
    display: grid;
    place-items: center; 
    height: 100vh; 
    
}
.container h1{
    text-align: center;
    font-size: 40px;
}
.button-count{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 5px; 
}
section a{
    text-align: center;
    font-size: 14px;
    color: #171A20;
    text-decoration: none;
    
}.btn-1{
    margin: auto 20px;
    padding: 10px 100px;
    border-radius: 4px;
} 
.btn-1 {
    color: white;
    background-color: #171A20;
    
}

/* มือถือ */
@media (max-width: 687px) {
    .button-count {
      grid-template-columns: 1fr; 
    }
    .btn-1{
        margin: auto 10px;
        padding: 10px 100px;
        border-radius: 4px;
        
    } 
}
  